.tableItem {
  border: 1px solid #700fb5 !important;
}

.MuiTableCell-root {
  padding: 4px !important;
}

.MuiTableContainer-root {
  border-radius: 30px !important;
  box-shadow: 0px 0px 40px 13px #13ca91 !important;
}
