/* WORD ROTATION */

.innerWord.sun {
  transform: rotate(-69deg);
}

.innerWord.moon {
  transform: rotate(71deg);
}

.innerWord.ascendant {
  transform: rotate(15deg);
}

.innerWord.mars {
  transform: rotate(24deg);
}

.innerWord.mercury {
  transform: rotate(-34deg);
}

.innerWord.venus {
  transform: rotate(-22deg);
}

.innerWord.jupiter {
  transform: rotate(50deg);
}

.innerWord.descendant {
  transform: rotate(42deg);
}

.innerWord.pluto {
  transform: rotate(-21deg);
}

.innerWord.neptune {
  transform: rotate(-42deg);
}

.innerWord.uranus {
  transform: rotate(-69deg);
}

.innerWord.saturn {
  transform: rotate(80deg);
}

// PLAYER DETAILS

.nameContainer.chartImage {
  display: none;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailItem {
  display: flex;
  dt {
    margin-inline-end: 5px;
  }
  dd {
    margin-inline-start: 0px;
  }
  .detailGeog {
    display: flex;
  }
  .detailGeog:first-child {
    margin-inline-end: 5px;
  }
}

@media print {
  .chartImage {
    padding-top: 100px !important;
  }
  .chartImage.nameContainer {
    display: initial !important;
  }

  .chartTemplate {
    width: 100%;
  }

  .nameItem:first-child {
    margin-inline-end: 5px;
  }
}
