@import "./../../styles/_variables";

.playerContainer {
  padding: 0 15px;
}

.listGroupItem {
  border: 1px black solid;
  border-radius: 15px;
  background-color: hsl(30, 53%, 80%);
}

.nameContainer {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.nameItem:first-child {
  margin-inline-end: 5px;
}


button {
  margin-inline-end: 5px;
}

.deleteBtn {
  background-color: rgb(237, 105, 136);
  color: #fff;
}

.winner {
  border: 5px dashed gold;
}


