.Header--container {
  flex-grow: 1;
  margin-block-end: 40px;
  // background-color: rgb(213, 123, 214);
  background-color: red;
  display: none;
}

.menuButton {
  margin-right: "-50px"; // Because it off-centers the title (logically -64px)
}

.title {
  flex-grow: 1;
}
