.ownerName {
  font-weight: bold;
  display: flex;
  z-index: 1;
  color: ivory;
  font-size: 0.6em;
}

.orb {
  position: relative;
  width: 200px;
}

svg > circle {
  filter: url(#orbShadow);
}

.listGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 15px;
}

.orbSymbol {
  display: none;
}
