.ownerName {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  max-width: min-content;
  display: flex;
  z-index: 1;
  color: ivory;
}

.orb {
  position: relative;
  // background-image: url("./../../assets/img/orb-gradient.png");
  // background: radial-gradient(
  //   circle at top right,
  //   #1B1464, #FF9472);
  //   box-shadow: 0px 0px 40px 13px #13ca91;
  // // border-radius:50%;
width:400px;
  fill:transparent;
}

circle {
    box-shadow: 0px 0px 40px 13px #13ca91;

}

.listGroup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 15px;
}

.orbSymbol {
  display: none;
}
