// @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;800&display=swap');

// $inconsolata: "Inconsolata, monospace"
// $font-stack: $inconsolata
// $primary-color: #333;

$background: rgb(233, 217, 248);
$orange: hsl(19, 90%, 62%);
$pink: rgb(213, 123, 214);
$blue: rgb(95, 180, 217);
