@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

$titleFont: url("./../assets/fonts/Chromate-Regular.otf");
$bodyFont: "Open Sans", sans-serif;

$purple: rgb(112, 15, 181);
$pink: rgb(225, 29, 202);
$green: rgb(19, 202, 145);
$orange: rgb(255, 148, 114);
$paleblue: rgb(143, 249, 249);
