@import "_variables";

.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  background-color: $background;
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

ol.typographic,
ul.typographic {
  list-style: initial;
}
