@import "_variables";

body {
  text-align: center;
  font-family: $bodyFont;
  color: ivory;
}

.App {
  // background-color: $background;
  // background-color: rgb(27, 20, 100);
  background-image: radial-gradient(
    circle,
    rgba(27, 20, 100, 1) 0%,
    rgba(112, 15, 181, 1) 100%
  );
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

ol.typographic,
ul.typographic {
  list-style: initial;
}

button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
}
