//ICON LIST STYLES

// .listGroup {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 5;
//   padding: 10;
// }

// .listItem {
//   margin: auto;
//   max-width: "fit-content";
//   // padding: "7px 15px 15px",
//   border: "1px black solid";
//   border-radius: 15;
//   // backgroundColor: "lavender",
// }

// .picked {
//   margin: "auto";
//   max-width: "fit-content";

//   border: "1px black solid";
//   border-radius: 15;
//   background-color: "#E31C79";
//   svg: {
//     fill: "#fff";
//   };
// };

// .planet {
//   fill: "purple";
// }

//ICONS COLOURS IN ICON LISTING

.sun {
  order: 1;
  background-color: rgb(198, 244, 244);
}

.mercury {
  order: 2;
  background-color: rgb(198, 244, 244);
}

.venus {
  order: 3;
  background-color: rgb(198, 244, 244);
}

.mars {
  order: 4;
  background-color: rgb(198, 244, 244);
}

.jupiter {
  order: 5;
  background-color: rgb(238, 210, 244);
}

.saturn {
  order: 6;
  background-color: rgb(238, 210, 244);
}

.uranus {
  order: 7;
  background-color: rgb(238, 210, 244);
}

.neptune {
  order: 8;
  background-color: rgb(238, 210, 244);
}

.pluto {
  order: 9;
  background-color: rgb(245, 228, 202);
}

.ascendant {
  order: 10;
  background-color: rgb(245, 228, 202);
}

.descendant {
  order: 11;
  background-color: rgb(245, 228, 202);
}

.moon {
  order: 12;
  background-color: rgb(245, 228, 202);
}
