@import "./../../styles/_variables";

.callContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  // font-family: $titleFont;
  justify-content: space-evenly;
  color: #fff;
}

.callTitle {
  text-align: start;
}

.callItem {

  padding: 3rem;
  width: 60%;
  // height: 60%;
  margin-right:25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callContainer .call {
  display: flex;
  flex-direction: column;
}
.callContainer .planet {
  font-size: 4rem;
}
.callContainer .sign {
  font-size: 4rem;
}

.callContainer span {
  margin-block-end: 15px;
}
