@import "./../../styles/_variables" ;

.Header--container {
  flex-grow: 1;
  margin-block-end:40px;
  // background-color: rgb(213, 123, 214);
  background-color:red;
  display:none;
  }

.MuiAppBar-colorPrimary{
  background-color:red;
}

.appBar {
  background-color: red;
  }

.menuButton {
  margin-right: "-50px"; // Because it off-centers the title (logically -64px)
  }

.title {
  flex-grow: 1;
  }