.prevCallContainer {
  font-family: "Chromate";
  text-transform: uppercase;
}

.prevCallTitle {
  text-align: start;
}

.prevCallItem {
  color: ivory;
  padding: 0 2rem;
  min-width: 10rem;
}

.prevCallContainer.call {
  display: flex;
  flex-direction: column;
}
.prevCallContainer .planet,
.prevCallContainer .sign {
  font-size: 4rem;
}

.prevCallContainer span {
  margin-inline-end: 5px;
}
