.gameContainer {
  background-image: url("./../../assets/img/pd-icing.png"),
    radial-gradient(circle, rgba(27, 20, 100, 1) 0%, rgba(112, 15, 181, 1) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 21% 38% 17% 10%;
  grid-template-rows: 20% 40% 10% 20% 10%;
}

.gameContainer .callContainer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.gameContainer .prevCallContainer {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}
