.App.admin {
  padding: 15px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.generatorContainer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3%;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    ". phrase phrase phrase"
    ". . prev call";
  min-height: 60vh;
}

.generatorContainer .phraseContainer {
  grid-area: phrase;
}

.generatorContainer .callContainer {
  grid-area: call;
  border: 1px solid ivory;
  border-radius: 15px;
}

.generatorContainer .prevCallContainer {
  grid-area: prev;
  border: 1px solid ivory;
  border-radius: 15px;
}

.callBtn {
  padding: 20px;
  font-size: 2rem;
  margin-block-end: 5px;
}

.controlsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  color: black;
}

.controlsWrapper,
.callWrapper {
  background-color: hsla(239, 100%, 88%, 60%);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.controlBtnContainer {
  display: flex;
}
