.mainContainer {
  display: flex;
  flex-direction: column;
}

.generatorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5%;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "call phrase phrase"
    "prev . callBtn"
    "prev . .";
}

.callContainer {
  // grid-column-start: 1;
  // grid-column-end: 1;
  // grid-row-start: 1;
  // grid-row-end: 1;
  grid-area: call;
}

.phraseContainer {
  // grid-column-start: 2;
  // grid-column-end: span 3;
  // grid-row-start: 1;
  grid-area: phrase;
}
.callBtnContainer {
  // grid-column-start: 3;
  // grid-column-end: 4;
  // grid-row-start: 2;
  grid-area: callBtn;
  align-self: flex-start;
}

.prevCallContainer {
  // grid-column-start: 1;
  // grid-column-end: 1;
  // grid-row-start: 2;
  // grid-row-end: 3;
  grid-area: prev;
  align-self: flex-start;
  justify-self: center;
}

.callBtn {
  padding: 30px;
  font-size: 4rem;
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 30%;
  align-self: flex-end;
  padding: 15px;
  background-color: pink;
  border-radius: 10px;
}

.controlsButtons {
  display: flex;
}
